body{
  background-image: url(https://images.unsplash.com/photo-1610129142564-79956dcecc7b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-color: #303030;
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center;
}

.heroBox {
  background: #594a4a;
  border: 5px solid #FFFFFF;
  border-radius: 10px;
  height: 15vh;
  width: 15vw;
  box-shadow: #FFFFFF;
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
font-size: 24px;
line-height: 24px;
}

.bossBox {
  background-image: url('https://images.unsplash.com/photo-1601513445498-5dbffc8d5d5a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80');
  background-size: cover;
  border: 5px solid #FFFFFF;
  border-radius: 10px;
  height: 25vh;
  width: 25vw;
  font-family: 'Press Start 2P';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 48px;
text-align: center;
}

.potionBox {
  padding: 1em;
  background: #303030;
  border: 5px solid #FFFFFF;
  border-radius: 10px;
  height: 15vh;
  width: 15vw;
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 200;
font-size: 15px;
line-height: 15px;
}

.resetBtn{
  height: 4vh;
  width: 8vw;
  box-shadow: #FFFFFF;
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 300;
font-size: 20px;
line-height: 24px;
}